{% load i18n tz %}

<article class="uk-comment">
    <header class="uk-comment-header">
        <h4 class="uk-comment-title">#{{ issue.id }}: <a href="{% url 'issue' issue.id %}">{{ issue.subject }}</a></h4>
		<ul class="uk-comment-meta uk-subnav uk-subnav-line">
            <li data-uk-tooltip title="{{ issue.created }}">{% blocktrans with issue_created=issue.created|timesince %}Created {{ issue_created }} ago{% endblocktrans %}</li>
            <li data-uk-tooltip title="{{ issue.modified }}">{% blocktrans with issue_modified=issue.modified|timesince %}Modified {{ issue_modified }} ago{% endblocktrans %}</li>
            {% if not project %}
            <li><a href="{% url 'list' issue.project.id %}">{{ issue.project }}</a></li>
            {% endif %}
		</ul>
    </header>
    <div class="uk-comment-body">{{ issue.comments|first }}</div>
</article>
